
{% extends "../views/base.html" %}
    {% block title %} Dashboard {% end %}
    {% block main_content %}

    <div class="content">
        <div class="container-fluid">
            <div class="loader center-block"></div>
            <div class="all-data">
                <div class="dropdown timespan">
                    <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown">All Time
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Past Day</a></li>
                        <li><a href="#">Past Week</a></li>
                        <li><a href="#">Past Month</a></li>
                        <li><a href="#">All Time</a></li>
                    </ul>
                </div>

            <div class="row card-container">
                <div id="chart"></div>
            </div>
            </div>
        </div>
    </div>

    <!--footer-->

    <footer class="footer">
        <p class="copyright pull-right">
            &copy; <script>document.write(new Date().getFullYear())</script> DisarrayTech
        </p>
    </footer>

    {% end %}
    {% block page_script %}
    <script>
        $(document).ready(function() {

            $('.loader').hide();
            $('.all-data').show();


            $.get('/api/bandwidth', function (data) {
                console.log(data);

                var chart = c3.generate({
                    bindto: '#chart',
                    data: {
                        columns: [
                            ['data1', data.map(function (d) {
                                return d._id;
                            })],
                            ['data2', data.map(function (d){
                                return d.count;
                            })]
                        ],
                        type: 'bar'
                    },
                    bar: {
                        width: {
                            ratio: 0.5 // this makes bar width 50% of length between ticks
                        }
                    }
                });
                console.log(chart,'heeeha');
            });
        });

    </script>
    {% end %}


</html>
