
{% extends "../views/base.html" %}
    {% block title %} Dashboard {% end %}
    {% block main_content %}

    <div class="content">
        <div class="container-fluid">
            <div class="loader center-block"></div>
            <div class="all-data">
                <div class="dropdown timespan">
                    <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown"><span id="timespan">All Time</span>
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="day">Past Day</a></li>
                        <li><a href="#" id="week">Past Week</a></li>
                        <li><a href="#" id="month">Past Month</a></li>
                        <li><a href="#" id="all">All Time</a></li>
                    </ul>
                </div>
            <div class="row card-container">
            </div>
            </div>
        </div>
    </div>
    <!--footer-->

    <footer class="footer">
        <p class="copyright pull-right">
            &copy; <script>document.write(new Date().getFullYear())</script> DisarrayTech
        </p>
    </footer>
    {% end %}
    {% block page_script %}
    <script>
        let request_url = '/api/bandwidth?timespan=';
        let jsondata;

        function request_data(url) {
            $.get(url, function (data) {
                show_data();

                let card_container = $('.card-container');
                jsondata = JSON.parse(data);
                console.log(jsondata);
                card_container.append(`
                            <div class="col-md-12">
                                <div id="chart_day"></div></div>
                            </div>
                            <div class="col-md-12 ">
                                <div id="chart_hour"></div></div>
                            </div>
                            <div class="col-md-12">
                                <div id="chart_month"></div></div>
                            </div>
                   `);

                jsondata['hours'].sort(function(a, b){
                    return a.hourday-b.hourday
                });

                jsondata['days'].sort(function(a, b){
                    return a.dayweek-b.dayweek
                });

                jsondata['months'].sort(function(a, b){
                    return a.month-b.month
                });


                drawchart('#chart_day','count','Days','bar','days','dayweek',7);
                drawchart('#chart_month','count','Months','bar','months','month',12);
                drawchart('#chart_hour','count','Hours','bar','hours','hourday',24);

            });
        }

        $(document).ready(function(){
            request_data(request_url + 'all');
        });
        </script>

{% end %}


</html>
