
{% extends "../views/base.html" %}
    {% block title %} Dashboard {% end %}
    {% block main_content %}

    <div class="content">
        <div class="container-fluid">
            <div class="loader center-block"></div>
            <div class="all-data">
                <div class="dropdown timespan">
                    <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown"><span id="timespan">All Time</span>
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="day">Past Day</a></li>
                        <li><a href="#" id="week">Past Week</a></li>
                        <li><a href="#" id="month">Past Month</a></li>
                        <li><a href="#" id="all">All Time</a></li>
                    </ul>
                </div>
            <div class="row card-container">
            </div>
            </div>
        </div>
    </div>

    <!--footer-->

    <footer class="footer">
        <p class="copyright pull-right">
            &copy; <script>document.write(new Date().getFullYear())</script> DisarrayTech
        </p>
    </footer>

    {% end %}
    {% block page_script %}
    <script>
        let request_url = '/api/summary?timespan=';


        function request_data(url) {
            $.get(url, function (data) {
                show_data();
                data = JSON.parse(data);
                let card_container = $('.card-container');
                card_container.append(generate_card4md('Total Requests', numeral(data['total_requests']).format('0,0')));
                card_container.append(generate_card4md('Valid Requests', numeral(data['valid_req']).format('0,0')));
                card_container.append(generate_card4md('Invalid Requests', numeral(data['invalid_req']).format('0,0')));
                card_container.append(generate_card4md('Unique visitors', numeral(data['unique_visitor']).format('0,0')));
                card_container.append(generate_card4md('Total bandwidth', numeral(data['total_bandwidth']).format('0.0 b')));
                card_container.append(generate_card4md('Total 404s', numeral(data['total_404']).format('0,0')));
            });
        }


        $(document).ready(function(){
            request_data(request_url + 'all');
        });
    </script>
    {% end %}


</html>
