
{% extends "../views/base.html" %}
    {% block title %} Dashboard {% end %}
    {% block main_content %}

    <div class="content">
        <div class="container-fluid">
            <div class="loader center-block"></div>
            <div class="all-data">
                <div class="dropdown timespan">
                    <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown"><span id="timespan">All Time</span>
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="day">Past Day</a></li>
                        <li><a href="#" id="week">Past Week</a></li>
                        <li><a href="#" id="month">Past Month</a></li>
                        <li><a href="#" id="all">All Time</a></li>
                    </ul>
                </div>
                <div class="row">
                    <div class="dropdown col-xs-3 col-xs-offset-6 " >
                        <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown">GRAPH
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a href="#" onclick="drawchart('#chart','HITS','KEYS','bar','')">BAR CHART</a></li>
                          <li><a href="#" onclick="drawchart('#chart','HITS','KEYS','area-spline','')">AREA-SPLINE</a></li>
                          <li><a href="#" onclick="drawpiechart('#chart','pie')">PIE CHART</a></li>
                        </ul>
                    </div>
                </div>
    </div>
            <div class="row card-container">

            </div>
            </div>
        </div>
    </div>

    <!--footer-->

    <footer class="footer">
        <p class="copyright pull-right">
            &copy; <script>document.write(new Date().getFullYear())</script> DisarrayTech
        </p>
    </footer>

    {% end %}
    {% block page_script %}
    <style>
       tbody tr:nth-child(2n){
          background-color: EEEEEE;
          color: 263238;
        }
        tbody tr:hover{
          background-color:00796B ;
        }
    </style>
    <script>

        let hits,keys,type='bar',chart_x_vs_y;
        let jsondata;
        let request_url = '/api/statuscode?timespan=';
        let card_container = $('.card-container');


        function request_data(url) {
            $.get(url, function (data) {
                let stats = {
                    '2xx Success' : {'hits' : 0, 'bandwidth': 0},
                    '3xx Redirect' : {'hits' : 0, 'bandwidth': 0},
                    '4xx Client Error': {'hits' : 0, 'bandwidth': 0},
                    '5xx Server Error' : {'hits' : 0, 'bandwidth': 0}
                }
                show_data();
                data = JSON.parse(data);
                jsondata=data;

                if(data.length > 0) {
                    for(let i = 0; i < data.length; ++i) {

                        if (data[i]['_id'].charAt(0) === '2') {
                            stats['2xx Success']['hits'] += data[i]['count'];
                            stats['2xx Success']['bandwidth'] += data[i]['size'];
                        }
                        if (data[i]['_id'].charAt(0) === '3') {
                            stats['3xx Redirect']['hits'] += data[i]['count'];
                            stats['3xx Redirect']['bandwidth'] += data[i]['size'];
                        }
                        if (data[i]['_id'].charAt(0) === '4') {
                            stats['4xx Client Error']['hits'] += data[i]['count'];
                            stats['4xx Client Error']['bandwidth'] += data[i]['size'];
                        }
                        if (data[i]['_id'].charAt(0) === '5') {
                            stats['5xx Server Error']['hits'] += data[i]['count'];
                            stats['5xx Server Error']['bandwidth'] += data[i]['size'];
                        }
                    }




                    card_container.append(
                        `<div class="col-md-7 col-md-offset-2" >
                            <div id="chart"></div>
                        </div>`
                    );

                    let table = `<div class="col-md-7 col-md-offset-2">
                                    <table class="table">
                                      <thead>
                                        <tr>
                                          <th>Status Code</th>
                                          <th>Hits<span class="caret"  onclick="sort('asc','count');"></span>
                                                  <span class="dropup">
                                                    <span class="caret" onclick="sort('desc','count');"></span>
                                                  </span>
                                          </th>
                                          <th>Bandwidth</th>
                                          <th>Status Code Meaning</th>
                                        </tr>
                                      </thead>
                                      <tbody class="stats-table">
                                      </tbody>
                                    </table>
                                    </div>`
                    card_container.append(table);

                    let stats_table = $('.stats-table');

                    for(let i = 0; i < data.length; ++i) {
                        stats_table.append(`

                            <tr id="${i}status" >
                              <td class='id'>${data[i]['_id']}</td>
                              <td class='cnt'>${numeral(data[i]['count']).format('0a')}</td>
                              <td class='size'>${numeral(data[i]['size']).format('0b')}</td>
                              <td class='meaning'>${HTTP_STATUS_CODES [data[i]['_id']]}</td>
                            </tr>
                            `)
                        }
                     keys = Object.keys(stats);

                     hits = [];

                    for(i in stats) {
                        hits.push(stats[i].hits);

                    }

                chart_x_vs_y=[{'KEYS':keys[0],'HITS':hits[0]},
                             {'KEYS':keys[1],'HITS':hits[1]},
                             {'KEYS':keys[2],'HITS':hits[2]},
                             {'KEYS':keys[3],'HITS':hits[3]}];

                drawchart('#chart','HITS','KEYS','bar','','',4);

                }

                else {
                    card_container.append(generate_card6md('No Data', 'No data exists for this time period'));
                }
            });
        }

        $(document).ready(function(){
            request_data(request_url + 'all');
        });
    </script>
    {% end %}


</html>
