<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
{% extends "../views/base.html" %}
    {% block title %} Dashboard {% end %}
    {% block main_content %}


    <div class="content">
        <div class="container-fluid">
            <div class="loader center-block"></div>
            <div class="all-data">
                <div class="dropdown timespan">
                    <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown"><span id="timespan">All Time</span>
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="day">Past Day</a></li>
                        <li><a href="#" id="week">Past Week</a></li>
                        <li><a href="#" id="month">Past Month</a></li>
                        <li><a href="#" id="all">All Time</a></li>
                    </ul>
                </div>
            <div class="row card-container">

            </div>
            </div>
        </div>
    </div>

    <!--footer-->

    <footer class="footer">
        <p class="copyright pull-right">
            &copy; <script>document.write(new Date().getFullYear())</script> DisarrayTech
        </p>
    </footer>

    </div>
    {% end %}
    {% block page_script %}

    <script type="text/javascript" src="/static/js/jquery.vmap.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.vmap.world.js" charset="utf-8"></script>


    <script>

        let request_url = '/api/usersystem?timespan=';
        let card_container = $('.card-container');

        function request_data(url) {
            $.get(url, function (data) {
                show_data();
                data = JSON.parse(data);

                if(data['os'].length !== 0 || data['device'].length !== 0 || data['ua'].length !== 0) {

                   card_container.append(`
                            <div class="col-md-12">
                                <div id="chart_os"></div></div>
                            </div>
                            <div class="col-md-12">
                                <div id="chart_device"></div></div>
                            </div>
                            <div class="col-md-12">
                                <div id="chart_ua"></div></div>
                            </div>
                   `);
                   let formatted_data_os = [],
                    formatted_data_ua = [],
                    formatted_data_device = [];
                   for(let i = 0 ; i < data['os'].length; ++i){
                       let sub_arr = [];
                       sub_arr.push(data['os'][i]['os']);
                       sub_arr.push(data['os'][i]['count']);
                       formatted_data_os.push(sub_arr);
                     }
                    for(let i = 0 ; i < data['device'].length; ++i){
                       let sub_arr = [];
                       sub_arr.push(data['device'][i]['device']);
                       sub_arr.push(data['device'][i]['count']);
                       formatted_data_device.push(sub_arr);
                     }
                    for(let i = 0 ; i < data['ua'].length; ++i){
                       let sub_arr = [];
                       sub_arr.push(data['ua'][i]['user_agent']);
                       sub_arr.push(data['ua'][i]['count']);
                       formatted_data_ua.push(sub_arr);
                    }

                    drawdonutchart('#chart_os',formatted_data_os,'Operationg Sysems');
                    drawdonutchart('#chart_device',formatted_data_device,'Devices');
                    drawdonutchart('#chart_ua',formatted_data_ua,'User Agent');

                }

                else {
                    card_container.append(generate_card6md('No Data', 'No data exists for this time period'));
                }
            });
        }

        $(document).ready(function(){
            request_data(request_url + 'all');
        });
    </script>
    {% end %}

</title>
</head>
<body>

</body>
</html>